.mode{
    z-index: 15;
  width:10vw;
  height:10vh;
  position:absolute;
  bottom:3vh;
  left:45vw;
    
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }

  
.model-light-mode{
    cursor: pointer;
  
    width:1.5vw;
    height:3vh;
    border-radius: 50%;
    background: linear-gradient(120deg,#fff,#808080);
    transition: all 0.5s;
    transform-origin: 50% 50%;
    transform: scale(1.2);
  }
  .model-dark-mode{
    cursor: pointer;
  
    width:1.5vw;
    height:3vh;
    border-radius: 50%;
    background: linear-gradient(120deg,#fff,#808080);
    transform: scale(0.8);
    transition: all 0.5s;
    transform-origin: 50% 50%;
  }
  
  
  .moded-dark-mode{
    cursor: pointer;
  
    width:1.5vw;
    height:3vh;
    border-radius: 50%;
    background: linear-gradient(120deg,#000 50%,#f600ff);
    transition: all 0.5s;
    transform-origin: 50% 50%;
    transform: scale(1.2);
  }
  .moded-light-mode{
    cursor: pointer;
  
    width:1.5vw;
    height:3vh;
    border-radius: 50%;
    background: linear-gradient(120deg,#000 50%,#f600ff);
    transition: all 0.5s;
    transform-origin: 50% 50%;
    transform: scale(0.8);
  }
  

  @media (max-aspect-ratio: 10/16) {

    .mode{
      z-index: 15;
    width:10vh;
    height:10vw;
    position:absolute;
    top:10vh;
    left:40vw;
      
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
  
    
  .model-light-mode{
      cursor: pointer;
    
      width:1.5vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#fff,#808080);
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform: scale(1.2);
    }
    .model-dark-mode{
      cursor: pointer;
    
      width:1.5vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#fff,#808080);
      transform: scale(0.8);
      transition: all 0.5s;
      transform-origin: 50% 50%;
    }
    
    
    .moded-dark-mode{
      cursor: pointer;
    
      width:1.5vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#000 50%,#f600ff);
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform: scale(1.2);
    }
    .moded-light-mode{
      cursor: pointer;
    
      width:1.5vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#000 50%,#f600ff);
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform: scale(0.8);
    }

  }



  @media  (min-aspect-ratio:10/16) and (max-aspect-ratio: 1) {

    .mode{
      z-index: 15;
    width:10vh;
    height:10vw;
    position:absolute;
    top:10vh;
    left:45vw;
      
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
  
    
  .model-light-mode{
      cursor: pointer;
    
      width:2vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#fff,#808080);
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform: scale(1.2);
    }
    .model-dark-mode{
      cursor: pointer;
    
      width:2vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#fff,#808080);
      transform: scale(0.8);
      transition: all 0.5s;
      transform-origin: 50% 50%;
    }
    
    
    .moded-dark-mode{
      cursor: pointer;
    
      width:2vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#000 50%,#f600ff);
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform: scale(1.2);
    }
    .moded-light-mode{
      cursor: pointer;
    
      width:2vh;
      height:3vw;
      border-radius: 50%;
      background: linear-gradient(120deg,#000 50%,#f600ff);
      transition: all 0.5s;
      transform-origin: 50% 50%;
      transform: scale(0.8);
    }

  }